<div class="product-card opacity-transform" *ngIf="product">
  <div class="poster">
    <img [src]=[product.cover] [alt]="product.name">
    <span class="product-price">{{productCurrency}} {{product.price | currency:productCurrency}}</span>
    <span *ngIf="isCart && product.count > 1" class="product-count">x{{product.count}}</span>
    <button *ngIf="isCart" class="product-delete" (click)="deleteProduct(product)">Delete</button>
  </div>
  <div class="name">
    <h4><a [routerLink]="['/category', product.type, product.id]">{{product.name}}</a></h4>
  </div>
  <div class="truncate-text line-9" *ngIf="!isCart">
    <p>
      {{product.description}}
    </p>
  </div>
  <div class="price" *ngIf="!isCart">
    <button class="to-cart" (click)='addToCart(product)'><span class="glyphicon glyphicon-shopping-cart"></span>Buy
    </button>
  </div>
</div>
