@import "../../../../variables";

$height-poster: 40vh;
$height-name: 12vh;

.product-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0 20px;
  width: 200px;

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $height-name;
    white-space: normal;
    h4 {
      margin: 0;
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: all .1s linear;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }

  .poster {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $height-poster;
    max-height: 500px;
    img {
      width: 190px;
      object-fit: cover;
    }

    .product-price {
      position: absolute;
      top: 25px;
      left: -15px;
      padding: 8px;
      background: $color-blue;
      color: #ffffff;
      box-shadow: 2px 2px 12px -2px #555;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 1px;
    }

    .product-count {
      position: absolute;
      top: 25px;
      right: -15px;
      padding: 8px;
      background: white;
      color: black;
      box-shadow: 2px 2px 12px -2px #555;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 1px;
    }

    .product-delete {
      position: absolute;
      bottom: 25px;
      right: -15px;
      padding: 8px;
      background: #d9534f;
      color: #ffffff;
      box-shadow: 2px 2px 12px -2px #555;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 1px;
      border-width: 0;
    }
  }

  .description {
    color: #777;
    white-space: normal;
  }

  .price {
    margin-top: 10px;
    margin-left: -10px;
    .to-cart {
      padding: 7px 15px 7px 45px;
      position: relative;
      color: #f7f7f9;
      background: #1d1d1d;
      border: 0;
      font-weight: 500;
      font-size: 18px;
      transition: all .2s ease;
      &:hover {
        background: $color-blue;
      }

      .glyphicon {
        position: absolute;
        top: 9px;
        left: 8px;
        font-size: 20px;
      }
    }
  }
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  @for $i from 1 through 10 {
    &.line-#{$i} {
      -webkit-line-clamp: $i;
      height: 1.4em * $i;
    }
  }
}
