.container {
  padding: 20px;
  margin: 0;
  width: 100%;

  .row {

    .address-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      position: relative;
      height: 41vh;
      margin: 0 15px 15px 0;
      background: #f7f7f7;
      border-radius: 1px;
    }
    .add-address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .add {
        padding: 20px;
        font-size: 20px;
        color: #1d1d1d;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background: #efefef;
        }
      }
    }
  }
}
