<div class="container sliders" [ngClass]="isCart ? 'cart-container' : ''">
  <div class="row slide left-transform">
    <div class="col-md-3">
      <div class="address-item add-address">
        <p>You can add new address!</p>
        <a class="add" (click)="add()"><span class="glyphicon glyphicon-plus"></span>New address</a>
        <p class="error" *ngIf="error">Added the maximum number of addresses</p>
      </div>
    </div>
    <div class="col-md-3" *ngFor='let address of auth.user.address; let key = index;'>
      <div class="address-item address"
           [ngClass]="[isCart && key === addressKey ? 'chosen-address' : '',
           isCart && key !== addressKey ? 'cart-address' : '']" (click)="chooseAddress(key)">
        <div class="edit" *ngIf="!isCart">
          <a (click)="update(key)"><span class="glyphicon glyphicon-pencil"></span></a>
          <a (click)="delete(key)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <p><span>Street Address:</span>{{address.streetAddress}}</p>
        <p><span>City:</span>{{address.city}}</p>
        <p><span>Zip / Postal Code:</span>{{address.zip}}</p>
        <p><span>Address Line 2:</span>{{address.addressLine2}}</p>
        <p><span>State / Province / Region:</span>{{address.state}}</p>
        <p><span>Country:</span>{{address.country}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <template ngbModalContainer></template>
</div>


