<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 panel-tool">
      <h1>Users data</h1>
      <div class="tools">
        <a class="tool" (click)="saveTable()"><span class="glyphicon glyphicon-floppy-disk"></span><span
          class="tooltiptext">saveTable</span></a>
      </div>
    </div>
  </div>
  <div class="row grid-table">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <ag-grid-ng2 #agGrid class="ag-dark"
                   [ngClass]="classTheme"
                   [gridOptions]="gridOptions"
                   [datasource]="dataSource">
      </ag-grid-ng2>
    </div>
  </div>
</div>





