<button class="btn btn-nav btn-nav-next" *ngIf="level === 'shipping' || level === 'products'"
        (click)="changeLevel(true)"> <span class="glyphicon glyphicon-chevron-right"></span>
</button>
<button class="btn btn-nav btn-nav-prev" *ngIf="level === 'shipping' || level === 'payment'"
        (click)="changeLevel(false)"> <span class="glyphicon glyphicon-chevron-left"></span>
</button>

<div class="container checkout-header">
  <div class="box">
    <h1>Checkout</h1>
    <h5 [ngClass]="level === 'products' ? 'level': ''">Check products and enter promo code</h5>
    <div class="border"></div>
    <h5 [ngClass]="level === 'shipping' ? 'level': ''">Shipping</h5>
    <div class="border"></div>
    <h5 [ngClass]="level === 'payment' ? 'level': ''">Payment method</h5>
  </div>
</div>

<div class="container slides dragscroll">
  <div class="box nochilddrag">
    <div class="slide" [ngClass]="direction === 'next' ? 'left-transform' : 'right-transform'"
         *ngIf="level === 'products'">
      <h4>1. Check order details</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.name}}</td>
          <td>{{checkOutCurrency}} {{order.price | number:'1.1-5' | currency: checkOutCurrency}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>Payment amount</th>
          <th>{{checkOutCurrency}} {{getTotal() | currency: checkOutCurrency}}</th>
        </tr>
        </tfoot>
      </table>
      <form [formGroup]="checkOutForm" role="form" class="promo-code">
        <h4>2. Enter a promo code:</h4>
        <div *ngIf="activePromoCode" class="form-group">
          <div class="input-group">
            <input type="text" placeholder="Promo code..." formControlName="promoCode" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="checkPromoCode()">Save</button>
            </span>
          </div>
        </div>
        <div *ngIf="!activePromoCode" class="form-group">
          <p class="bg-success promo-success">Promo code success</p>
        </div>
      </form>
    </div>

    <div class="slide" [ngClass]="direction === 'next' ? 'left-transform' : 'right-transform'"
         *ngIf="level === 'shipping'">
      <h4>3. Choose address for shipping</h4>
      <app-address [isCart]="true" (chosenAddress)="onChangeAddress($event)"></app-address>
    </div>

    <div class="slide" [ngClass]="direction === 'next' ? 'left-transform' : 'right-transform'"
         *ngIf="level === 'payment'">
      <h4>4. Choose payment method</h4>
      <div class="payment-blocks">
        <div *ngFor="let method of paymentSystem" class="thumbnail payment-block"
          [ngClass]="method === checkOutForm.value.payment ? 'chosen-payment' : ''" (click)="changePayment(method)">
          <img [src]="'../../assets/' + method + '.png'" class="thumb-image">
          <h2>{{method}}</h2>
        </div>
      </div>
      <div class="container pay">
        <div class="box pay-right">
          <button *ngIf="!isRequesting" class="btn btn-pay" [disabled]="!checkPay()" (click)='pay()'>Pay</button>
          <div *ngIf="isRequesting" class="loading">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading..
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
