.container {
  padding: 0;
  .settings-graph {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    * {
      margin: 0 10px;
    }
    .form-group {
      display: flex;
      flex-direction: row;
      label {
        margin-top: 8px;
      }
    }
  }
  .graphics {
    .col-md-6 {
      top: -5px;
    }
  }
}
