<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Media-Shop</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/category/music">Music</a></li>
        <li><a routerLink="/category/games">Games</a></li>
        <li><a routerLink="/category/movies">Movie</a></li>
        <li>
          <form class="navbar-form" (submit)="search()" [formGroup]="searchTermForm">
            <div class="form-group">
              <input type="text" placeholder="Search..." class="form-control" formControlName="term">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </li>
        <li *ngIf="authGuard.canActivate()" class="dropdown pull-right d-inline-block" ngbDropdown>
          <a class="dropdown-toggle" id="dropdownMenu" ngbDropdownToggle>
            Dropdown <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/address">Address</a></li>
          </ul>
        </li>
        <li class="dropdown pull-right d-inline-block" ngbDropdown>
          <a class="dropdown-toggle" id="dropdownMenuAdmin" ngbDropdownToggle>
            Admin panel <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuAdmin">
            <li><a routerLink="/admin/orders">Orders</a></li>
            <li><a routerLink="/admin/users">Users</a></li>
            <li><a routerLink="/admin/analytics">Analytics</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <button class="btn btn-success btn-margin" routerLink="/cart">
          Cart  <span *ngIf="count()" class="badge">{{count()}}</span>
        </button>
        <button class="btn btn-success btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
        <button class="btn btn-success btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="container">
  <ng-template ngbModalContainer></ng-template>
</div>
