<div class="wrapper">

  <aside class="left-sidebar">
    <ul class="nav">
      <li><a [routerLink]="'/'">Media shop</a></li>
      <li><a [routerLink]="'/category/movies'" routerLinkActive="active-link">
        <span class="glyphicon glyphicon-film"></span>Movies</a>
      </li>
      <li><a [routerLink]="'/category/games'" routerLinkActive="active-link">
        <span class="glyphicon glyphicon-tower"></span>Games</a>
      </li>
      <li><a [routerLink]="'/category/books'" routerLinkActive="active-link">
        <span class="glyphicon glyphicon-book"></span>Books</a>
      </li>
      <li class="dropdown dropdown-menu-left" ngbDropdown>
        <a class="dropdown-toggle" id="dropdownMenuAdmin" ngbDropdownToggle>
          <span class="glyphicon glyphicon-list-alt"></span>Admin panel
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuAdmin">
          <ul class="admin-menu">
            <li><a [routerLink]="'/admin/orders'"><span class="glyphicon glyphicon-paperclip"></span>Orders</a></li>
            <li><a [routerLink]="'/admin/users'"><span class="glyphicon glyphicon-user"></span>Users</a></li>
            <li><a [routerLink]="'/admin/analytics'"><span class="glyphicon glyphicon-stats"></span>Analytics</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown dropdown-menu-left" ngbDropdown *ngIf="showFilters">
        <a class="dropdown-toggle" id="dropdownMenuFiters" ngbDropdownToggle>
          <span class="glyphicon glyphicon-filter"></span>Filters
        </a>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuFilters" (click)="$event.stopPropagation()">
          <app-filters></app-filters>
        </div>
      </li>
    </ul>
    <ul class="nav login">
      <li *ngIf="!auth.authenticated()"><a (click)="auth.login()">
        <span class="glyphicon glyphicon-log-in"></span>Log In</a>
      </li>
      <li *ngIf="auth.authenticated()"><a (click)="auth.logout()">
        <span class="glyphicon glyphicon-log-out"></span>Log Out</a>
      </li>
    </ul>
  </aside>

  <div class="middle">

    <div class="container-page">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-xs-8 col-lg-8">
              <form class="search" [formGroup]="searchTermForm">
                <a class="search-button" (click)="search()"><span class="glyphicon glyphicon-search"></span></a>
                <div class="search-field" (submit)="search()">
                  <input type="search" class="search-input no-border" placeholder="Search movies, books..."
                         formControlName="term" (keydown.enter)="search()">
                  <span class="separator"> </span>
                </div>
              </form>
            </div>
            <div class="col-md-offset-1 col-md-3 col-xs-offset-1 col-xs-3 col-lg-offset-1 col-lg-3">
              <ul class="navbar-user">
                <li class="user-cart">
                  <a [routerLink]="'/cart'">
                    <span *ngIf="count()" class="badge">{{count()}}</span>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                  </a>
                  <span class="separator"> </span>
                </li>
                <li class="user-profile dropdown" *ngIf="(auth.authenticated() && auth.user)" ngbDropdown>

                  <a class="dropdown-toggle" id="dropdownMenuProfile" ngbDropdownToggle>
                    <span>{{auth.user.nickName}}</span>
                    <span class="caret"></span>
                    <img class="img-circle" [src]="auth.user.picture">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuProfile">
                    <li><a [routerLink]="'/profile'">Profile</a></li>
                    <li><a [routerLink]="'/address'">Addresses</a></li>
                  </ul>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
    <div class="container">
      <template ngbModalContainer></template>
    </div>
  </div>
</div>
