<div class="col-md-2 fixed-filter">
  <div class="thumbnail">
    <form [formGroup]="filtersForm">
      <fieldset *ngIf="filtersForm.value.game || !(categoryIsSelected)" formGroupName="gameGroup" class="input-group">
        <div class="thumbnail game-filter">
          <label>For game</label>
          <div class="form-group">
            <select formControlName="genres" class="form-control">
              <option value="">Choose a genre</option>
              <option *ngFor="let item of genres" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>
      </fieldset>
      <button class="btn btn-success btn-block filter-apply-button" (click)="applyFilters()">Apply</button>
    </form>
  </div>
</div>
