.filter {
  padding: 15px 0;
  .form-control {
    border-radius: 0;
  }
  .form-group {
    label {
      margin-left: 10px;
      color: #555;
      font-weight: 500;
    }
  }
  .filter-apply-button {
    border-radius: 0;
    padding: 10px;
  }

  .toggle-items {
    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
      display: block;
      position: relative;
      padding-left: 55px;
      margin-bottom: 25px;
      font: 14px/20px 'Open Sans', Arial, sans-serif;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input[type="checkbox"] + label:last-child {
      margin-bottom: 0;
    }

    input[type="checkbox"] + label:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 3px solid #ffbc1c;
      position: absolute;
      left: 20px;
      top: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked + label:before {
      width: 10px;
      top: -5px;
      left: 25px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  height: 45px;
  display: inline-block !important;
  visibility: visible !important;
  &:focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  &::-webkit-calendar-picker-indicator {
    color: #2c3e50;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-clear-button {
    display: none;
  }
}
