<form [formGroup]="filtersForm">
  <!--<div>search for:-->
    <!--<span><input type="checkbox" formControlName="music">music</span>-->
    <!--<span><input type="checkbox" formControlName="movie">movies</span>-->
    <!--<span><input type="checkbox" formControlName="game">games</span>-->
  <!--</div>-->
  <div class="form-group">
    <input type="date" formControlName="date">
  </div>
  <!--music-->
  <fieldset *ngIf="filtersForm.value.music || !(categoryIsSelected)" formGroupName="musicGroup">
    <span>Artist: <input type="text" class="form-control" formControlName="artist"></span>
    <span>Search new <input type="checkbox" formControlName="new"></span>
    <span>Hipster search <input type="checkbox" formControlName="hipster"></span>
  </fieldset>
  <!--movies-->
  <!--<fieldset *ngIf="filtersForm.value.movie" formGroupName="movieGroup">-->

  <!--</fieldset>-->
  <!--games-->
  <fieldset *ngIf="filtersForm.value.game || !(categoryIsSelected)" formGroupName="gameGroup">
    <select formControlName="genres">
      <option value="" disabled>Choose a state</option>
      <option *ngFor="let item of genres" [value]="item.id">{{item.name}}</option>
    </select>
    <!--Developer: <input type="text" formControlName="developer">-->
  </fieldset>
  <button class="btn btn-primary" (click)="applyFilters()">apply</button>
</form>
