.fixed-filter {
  position: fixed;
  top: 10%;
  left: 10px;
  z-index: 100;
}
.filter-apply-button {
  margin-top: 5px;
}
.music-filter {
  background-color: #5bc0de;
  color: white;
}
.game-filter {
  color: white;
  background-color: #d9534f;
  height: 90px;
}

