<div class="pad" *ngIf="!edit" (click)="editItem()">
  <span>{{value}}</span>
</div>

<div class="value" *ngIf="edit && type==='text'">
  <form (submit)="saveItem()" [formGroup]="formValue">
    <div class="field">
      <input class="form-field" type="text" formControlName="changedValue">
      <input type="submit" value="Save" class="btn" [disabled]="!formValue.valid">
    </div>
  </form>
</div>

<div class="value" *ngIf="edit && type === 'select'">
  <form (submit)="saveItem()" [formGroup]="formValue">
    <div class="field">
      <select formControlName="changedValue">
        <option *ngFor="let item of selected" [value]="item.value">{{item.name}}</option>
      </select>
      <input type="submit" value="Save" class="btn" [disabled]="!formValue.valid">
    </div>
  </form>
</div>

