.pad-text, .pad-select {
  margin: 20px;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    height: 36px;
    background-color: #f2f2f2;
  }
}

.pad-text span {
  min-width: 429px;
}

.pad-select span {
  min-width: 280px;
}

.value-text, .value-select {
  padding: 20px;
  .field {
    display: flex;
    flex-direction: row;
    input[type=text], input[type=email], select {
      height: 36px;
      padding: 5px 9px;
      border: 1px solid #ccc;;
      background-color: #f2f2f2;
    }
    .submit-btn {
      margin-left: 20px;
      color: #f7f7f9;
      background: #1d1d1d;
      padding: 8px;
      height: 36px;
      border: none;
      font-weight: 600;
    }
  }
}

.value-select .form-field {
  min-width: 280px;
}

.value-text .form-field {
  min-width: 429px;
}
