<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">{{product.name}}</h4>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<div class="col-md-4">-->
<!--<img [src]=[product.cover] class="img-responsive img-thumbnail">-->
<!--<button class="btn-lg btn-primary btn btn-block btn-product" (click)="addToCart(product)">Add to Cart</button>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item" *ngIf="product.type=='game'">-->
<!--Production Companies: <span *ngFor="let developer of product.developers;-->
<!--let lastDeveloper=last">{{lastDeveloper?developer.name+'.':developer.name+', '}}</span>-->
<!--</li>-->
<!--<li class="list-group-item" *ngIf="product.type=='movie'">-->
<!--Production Companies: <span *ngFor="let company of product.production_companies;-->
<!--let lastCompany=last">{{lastCompany?company.name+'.':company.name+', '}}</span>-->
<!--</li>-->
<!--<li class="list-group-item" *ngIf="product.type!='books'">-->
<!--Genres: <span *ngFor="let genre of product.genres; let lastGenre=last">-->
<!--{{lastGenre?genre.name+'.':genre.name+', '}}</span>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--Description: <span>{{product.description}}</span>-->
<!--</li>-->
<!--<li class="list-group-item" *ngIf="product.type=='movie'">-->
<!--Average vote: <span>{{product.vote_average}}</span>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--Release date:<span> {{product.release_date}}</span>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--Price:<span>{{productCurrency}}{{product.price | currency:productCurrency}}</span>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-md-10 col-lg-10">
      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="poster" [style.background-image]="'url(' + product.cover + ')'">
            <div class="to-back">
              <a [routerLink]="'/category/'+product.type+'s'"><span class="glyphicon glyphicon-remove">
              </span>Back to all</a>
            </div>
            <div class="price">
              <span>{{productCurrency}}{{product.price | currency:productCurrency}}</span>
            </div>
            <div class="to-cart">
              <a class="buy" (click)="addToCart(product)">
                Buy
                <span class="glyphicon glyphicon-shopping-cart"></span></a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="description-product">
            <div class="name">
              {{product.name}}
            </div>
            <div class="description-items">
              <span class="title-description">Genres</span>
              <span class="item" *ngFor="let genre of product.genres; let lastGenre=last">
                {{lastGenre?genre.name+'.':genre.name+', '}}
              </span>
            </div>
            <div class="description-items">
              <span class="title-description">Production companies</span>
              <span class="item" *ngFor="let company of product.production_companies; let lastCompany=last">
                {{lastCompany?company.name+'.':company.name+', '}}
              </span>
            </div>
            <div class="description-product">
              {{product.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2">
      recommended movies
    </div>
  </div>
</div>
