<div class="container">
  <div class="row">
    <div class="col-xs-9 col-md-9 col-lg-9 product left-transform">
      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="poster" [style.background-image]="'url(' + product.cover + ')'">
            <div class="header-info">
              <div class="product-type">
                <div class="type">{{product.type | capitalize}}</div>
              </div>
              <div class="to-back">
                <a [routerLink]="'/category/'+product.type+'s'"><span class="glyphicon glyphicon-remove">
              </span>Back to all</a>
              </div>
            </div>
            <div class="footer-info">
              <div class="trailer"
                   *ngIf="product.type ==='movie' || (product.type === 'game' && product.trailer !== '')">
                <a (click)="showTrailer(product)">
                  <span class="glyphicon glyphicon-play"></span>
                  Trailer
                </a>
              </div>
              <div class="to-cart">
                <a class="buy" (click)="addToCart(product)">
                  Buy
                  <span class="price-product">{{productCurrency}} {{product.price | currency:productCurrency}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-md-12 description-title">
              <div class="description-name">
                {{product.name}}
                <span *ngIf="product.type === 'game' && product.status !== ''"
                      class="status-game">({{getStatusGame()}})</span>
              </div>
              <div class="description-release">
                <span>{{product.release_date}}</span>
                <span>year</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 description-item extra-info">
              <app-ratio [product]="product" *ngIf="product.type!=='book'"></app-ratio>
              <div class="votes" *ngIf="product.type==='book'">
                <span class="bold">{{product.voteCount | myAround}}</span>
                <span class="description">Votes</span>
              </div>
              <div class="read-count" *ngIf="product.type==='book'">
                <span class="bold">{{product.readCount | myAround}}</span>
                <span class="description">Read</span>
              </div>
              <div class="references" *ngIf="product.type !== 'game'">
                <a target="_blank" [href]="product.homepage">
                  <span class="glyphicon glyphicon-home"></span>
                  <span class="title">Homepage</span>
                </a>
              </div>
              <div class="references" *ngIf="product.type === 'game'">
                <ng-template ngFor let-website [ngForOf]="product.websites">
                  <a *ngIf="website.category === 1" target="_blank" [href]="website.url">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="title">Homepage</span>
                  </a>
                  <a *ngIf="website.category === 4" class="third-site" target="_blank" [href]="website.url"
                     [style.background-image]="'url(../../assets/social/facebook.png)'">
                  </a>
                  <a *ngIf="website.category === 5" class="third-site" target="_blank" [href]="website.url"
                     [style.background-image]="'url(../../assets/social/twitter.png)'">
                  </a>
                  <a *ngIf="website.category === 9" class="third-site" target="_blank" [href]="website.url"
                     [style.background-image]="'url(../../assets/social/youtube.png)'">
                  </a>
                </ng-template>
              </div>
            </div>
          </div>
          <!--description books and games-->
          <div class="row" *ngIf="product.type !== 'movie'">
            <div class="col-md-6 description-item" *ngIf="product.type==='game'">
              <span class="title-description">Genres</span>
              <span class="item" *ngFor="let genre of product.genres; let lastGenre=last">
                {{lastGenre?genre.name+'.':genre.name+', '}}
              </span>
            </div>
            <div class="col-md-6 description-item esrb" *ngIf="product.type==='game' && product.esrb !== ''">
              <div [style.background-image]="'url(../../assets/esrb/rating_'+ product.esrb +'.png)'">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="product.type==='game'">
            <div class="col-md-12 description-item">
              <span class="title-description">Production companies</span>
              <span class="item" *ngFor="let developer of product.developers; let lastDeveloper=last">
                {{lastDeveloper?developer.name+'.':developer.name+', '}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="product.type !== 'movie'">
            <div class="col-md-12 description-item">
              <p>
                {{product.description}}
              </p>
            </div>
          </div>

          <!--description movies-->
          <div class="row" *ngIf="product.type === 'movie'">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 description-item" *ngIf="product.type!=='book'">
                  <span class="title-description">Genres</span>
                  <span class="item" *ngFor="let genre of product.genres; let lastGenre=last">
                {{lastGenre?genre.name+'.':genre.name+', '}}
              </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 description-item">
                  <span class="title-description">Production companies</span>
                  <span class="item" *ngFor="let company of product.production_companies; let lastCompany=last">
                {{lastCompany?company.name+'.':company.name+', '}}
              </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 description-item">
                  <p>
                    {{product.description}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="cast">
                <h4>Cast</h4>
                <div class="actor" *ngFor="let cast of product.credits">
                  <div class="img"
                       [style.background-image]="'url('+cast.profile_path +')'">
                  </div>
                  <span>{{cast.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-md-3 col-lg-3 recommended"
         drag-scroll [drag-scroll-x-disabled]="true">
      <h4>You might also like</h4>
      <div class="item" *ngFor="let recommend of recommended">
        <div class="poster">
          <img [src]="recommend.coverUrl" (error)="imgError(recommend)">
          <div class="price">{{productCurrency}} {{recommend.price | currency:productCurrency}}</div>
          <div class="to-cart"><a (click)="addToCart(recommend)">Buy</a></div>
          <div class="trailer-recommend"
               *ngIf="recommend.type ==='movie' || (recommend.type === 'game' && recommend.trailer !== '')">
            <a (click)="showTrailer(recommend)">
              <span class="glyphicon glyphicon-play"></span>
              Trailer
            </a>
          </div>
        </div>
        <app-ratio [product]="recommend" *ngIf="recommend.type!=='book'"></app-ratio>
        <div class="title">
          <a [routerLink]="['/category', recommend.type, recommend.id]">{{recommend.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
