.container {
  margin: 0 20px;
  height: 100%;
  width: 100%;
  .product {
    padding-top: 10px;
    .poster {
      height: 44vw;
      position: relative;
      background-size: cover;
      background-position: center;

      .to-cart {
        position: absolute;
        right: -15px;
        bottom: 25px;
        color: #e6e6e6;
        .buy {
          position: relative;
          text-decoration: none;
          color: #f7f7f9;
          cursor: pointer;
          font-size: 18px;
          padding: 10px 0 10px 15px;
          font-weight: 600;

          top: -3px;
          background: #1e1e1e;
          box-shadow: 2px 2px 12px -2px #000;
          &:hover {
            background: #000;
            & .price-product {
              background: #1f4bba;
            }
          }

          .price-product {
            transition: all .15s linear;
            position: relative;
            font-size: 18px;
            padding: 10px;
            background: #457aff;
            margin-left: 8px;
          }
        }
      }

      .product-type {
        position: absolute;
        top: 25px;
        left: -15px;
        display: flex;
        flex-direction: row;
        .type {
          padding: 8px;
          letter-spacing: 1px;
          color: #1d1d1d;
          background: #fff;
          box-shadow: 2px 2px 12px -2px #555;
        }
        .vote {
          color: #f7f7f9;
          background: #457aff;
          font-size: 17px;
          padding: 7px 8px 5px 8px;

          .glyphicon {
            color: #f7f7f9;
            background: #457aff;
            position: relative;
            top: 2px;
            left: -2px;
          }
        }

      }

      .to-back {
        position: absolute;
        top: 35px;
        right: -15px;
        a {
          padding: 10px;
          letter-spacing: 1px;
          color: #1d1d1d;
          text-decoration: none;
          background: #fff;
          box-shadow: 2px 2px 12px -2px #555;
          transition: all .1s linear;
          &:hover {
            color: #f7f7f9;
            background: #457aff;
          }
        }
        .glyphicon {
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }
    .description-product {
      .description-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .description-name {
          color: #222;
          font-size: 36px;
          font-weight: 600;
        }
        .description-release {
          display: flex;
          flex-direction: column;
          font-weight: 600;
          letter-spacing: 1px;
          color: #666;
        }
      }

      .description-items {
        margin: 15px 0;
        text-align: justify;
        .title-description {
          color: #1d1d1d;
          font-size: 18px;
          display: block;
        }
        .item {
          font-weight: 600;
          color: #000;
        }
        p {
          color: #555;
        }
      }
    }
  }
  .row {
    height: 100%;
  }
  .recommended {
    background: #f9f9f9;
    box-shadow: inset 3px -7px 15px 1px #ddd;
    height: 100%;
    overflow: hidden;
    padding-bottom: 55px;
    h4 {
      text-align: center;
      letter-spacing: 1px;
    }
    .item {
      margin: 20px;
      width: 10vw;
      .poster {
        position: relative;
        width: 100%;
        height: 15vw;
        background-size: contain;
        background-repeat: no-repeat;
        .price {
          position: absolute;
          padding: 5px;
          color: #f7f7f9;
          background: #457aff;
        }
        .to-cart {
          position: absolute;
          bottom: 20px;
          right: -15px;
          a {
            cursor: pointer;
            padding: 8px 15px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #1d1d1d;
            text-decoration: none;
            background: #fff;
            box-shadow: 2px 2px 12px -2px #555;
            transition: all .1s linear;
            &:hover {
              color: #f7f7f9;
              background: #457aff;
            }
          }
        }
      }
      .title {
        margin-top: 5px;
        a {
          color: #1d1d1d;
          font-size: 17px;
          text-decoration: none;
          transition: all .1s linear;
          &:hover {
            color: #457aff;
          }
        }
      }
    }
  }

}
