.container {
  padding: 10px;
  margin: 0 20px;
  & .poster {
    height: 44vw;
    position: relative;
    background-size: cover;
    background-position: center;

    & .price {
      position: absolute;
      top: 45px;
      left: -15px;
      padding: 8px;
      background: #457aff;
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: -2px 2px 12px -2px #999;
    }

    & .to-cart {
      position: absolute;
      right: -15px;
      bottom: 25px;
      background: #1e1e1e;
      color: #e6e6e6;
      & .buy {
        position: relative;
        text-decoration: none;
        color: #e6e6e6;
        cursor: pointer;
        font-size: 18px;
        padding: 10px 0 10px 15px;
        font-weight: 600;
        transition: all .15s linear;
        top: -3px;
        box-shadow: 2px 2px 12px -2px #999;
        &:hover .glyphicon {
          background: #1f4bba;
        }
        & .glyphicon {
          position: relative;
          right: 0;
          top: 3px;
          font-size: 18px;
          padding: 11px;
          background: #457aff;
          margin-left: 8px;
        }
      }
    }

    & .product-type {
      position: absolute;
      top: 15px;
      right: -15px;
      & span {
        padding: 8px;
        letter-spacing: 1px;
        color: #1d1d1d;
        text-decoration: none;
        background: #fff;
        box-shadow: 2px 2px 12px -2px #999;
      }
    }

    & .to-back {
      position: absolute;
      top: 55px;
      right: -15px;
      & a {
        padding: 8px;
        letter-spacing: 1px;
        color: #1d1d1d;
        text-decoration: none;
        background: #fff;
        box-shadow: 2px 2px 12px -2px #999;
        transition: all .1s linear;
        &:hover {
          font-size: 17px;
        }
      }
      & .glyphicon {
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  & .description-product {
    & .name {
      color: #222;
      font-size: 36px;
      font-weight: 600;
    }
    & .description-items {
      margin: 10px 0;
      & .title-description {
        color: #1d1d1d;
        font-size: 18px;
        display: block;
      }
      & .item {
        font-weight: 600;
        color: #000;
      }
    }
    & .description-product {
      text-align: justify;
    }
  }
}
