@import "../../variables";

.container {
  margin: 0 20px;
  height: 100%;
  width: 100%;
  .product {
    padding-top: 10px;
    z-index: 2;
    background: white;
    .poster {
      height: 44vw;
      position: relative;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: 20px;
        .product-type {
          display: flex;
          flex-direction: row;
          position: relative;
          left: -15px;
          .type {
            padding: 8px;
            letter-spacing: 1px;
            color: #1d1d1d;
            background: #fff;
            box-shadow: 2px 2px 12px -2px #555;
          }
          .vote {
            color: #f7f7f9;
            background: $color-blue;
            font-size: 17px;
            padding: 7px 8px 5px 8px;

            .glyphicon {
              color: #f7f7f9;
              background: $color-blue;
              position: relative;
              top: 2px;
              left: -2px;
            }
          }

        }

        .to-back {
          position: relative;
          right: -15px;
          margin-top: 8px;
          a {
            padding: 10px;
            letter-spacing: 1px;
            color: #1d1d1d;
            text-decoration: none;
            background: #fff;
            box-shadow: 2px 2px 12px -2px #555;
            transition: all .1s linear;
            &:hover {
              color: #f7f7f9;
              background: $color-blue;
            }
          }
          .glyphicon {
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
      .footer-info {
        .trailer {
          display: flex;
          left: -15px;
          bottom: 25px;
          position: absolute;
          a {
            padding: 8px;
            background: #1e1e1e;
            font-size: 18px;
            color: #f7f7f9;
            cursor: pointer;
            text-decoration: none;
            &:hover {
              background: #000;
            }
          }
        }

        .to-cart {
          position: absolute;
          color: #e6e6e6;
          display: flex;
          justify-content: flex-end;
          right: -15px;
          bottom: 25px;
          .buy {
            position: relative;
            text-decoration: none;
            color: #f7f7f9;
            cursor: pointer;
            font-size: 18px;
            padding: 8px 0 7px 15px;
            font-weight: 600;
            background: #1e1e1e;
            box-shadow: 2px 2px 12px -2px #000;
            &:hover {
              background: #000;
              & .price-product {
                background: $color-blue;
              }
            }

            .price-product {
              transition: all .15s linear;
              position: relative;
              font-size: 18px;
              padding: 10px;
              background: $color-blue;
              margin-left: 8px;
            }
          }
        }
      }

    }
    .description-product {
      .description-name {
        color: #222;
        font-size: 36px;
        font-weight: 600;
      }
      .extra-info {
        display: flex;
        flex-direction: row;
        app-ratio {
          margin-right: 10px;
        }
        .description-release, .votes, .read-count {
          display: flex;
          flex-direction: column;
          padding: 5px;
          margin-right: 10px;
          text-align: center;
          span:first-child {
            font-weight: 600;
          }
        }
      }
      .description-item {
        margin-bottom: 15px;
        text-align: justify;
        .title-description {
          color: #1d1d1d;
          font-size: 18px;
          display: block;
        }
        .item {
          font-weight: 600;
          color: #000;
        }
        p {
          color: #555;
        }
      }
    }
  }
  .row {
    height: 100%;
  }
  .recommended {
    background: #f9f9f9;
    box-shadow: inset 3px -7px 15px 1px #ddd;
    height: 100%;
    overflow: hidden;
    padding-bottom: 55px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    h4 {
      text-align: center;
      letter-spacing: 1px;
    }
    .item {
      margin: 20px;
      width: 10vw;
      .poster {
        position: relative;
        width: 100%;
        height: 15vw;
        background-size: contain;
        background-repeat: no-repeat;
        .price {
          position: absolute;
          padding: 5px;
          color: #f7f7f9;
          background: $color-blue;
        }
        .to-cart {
          position: absolute;
          bottom: 20px;
          right: -15px;
          a {
            cursor: pointer;
            padding: 8px 15px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #1d1d1d;
            text-decoration: none;
            background: #fff;
            box-shadow: 2px 2px 12px -2px #555;
            transition: all .1s linear;
            &:hover {
              color: #f7f7f9;
              background: $color-blue;
            }
          }
        }
      }
      .title {
        margin-top: 5px;
        white-space: normal;
        a {
          color: #1d1d1d;
          font-size: 17px;
          text-decoration: none;
          transition: all .1s linear;
          &:hover {
            color: $color-blue;
          }
        }
      }
    }
  }

}

