<div class="container slides">
  <div class="header-info slide left-transform">
    <div class="picture" [style.background-image]="'url(' + user.picture + ')'">
    </div>
    <div class="extra-info">
      <p>{{user.fullName}}</p>
      <p><span class="glyphicon glyphicon-map-marker">{{user.country}}</span></p>
      <div class="item-info">
        <span>{{user.currency}}</span>
        <profile-field [selected]="profileCurrency" [type]="'select'" (save)="update('currency', $event)"></profile-field>
      </div>
    </div>
  </div>
  <div class="body-info slide left-transform">
    <div class="item-info">
      <span>First name:</span>
      <profile-field [value]="user.firstName" [type]="'text'" (save)="update('firstName', $event)"></profile-field>
    </div>
    <div class="item-info">
      <span>Last name:</span>
      <profile-field [value]="user.lastName" [type]="'text'" (save)="update('lastName', $event)"></profile-field>
    </div>
    <div class="item-info">
      <span>Phone:</span>
      <profile-field [value]="user.phone" [type]="'text'" (save)="update('phone', $event)"></profile-field>
    </div>
    <div class="item-info">
      <span>Mobile:</span>
      <profile-field [value]="user.mobile" [type]="'text'" (save)="update('mobile', $event)"></profile-field>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--<h1>Profile</h1>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<form [formGroup]="profileForm">-->
<!--<div class="form-group" [ngClass]="profileForm.controls.nickName.errors? 'has-error': 'has-success'">-->
<!--<label for="nickName">Nickname:</label>-->
<!--<input type="text" class="form-control" id="nickName" formControlName="nickName">-->
<!--</div>-->
<!--<div class="form-group" [ngClass]="profileForm.controls.firstName.errors? 'has-error': 'has-success'">-->
<!--<label for="firstName">First name:</label>-->
<!--<input type="text" class="form-control" id="firstName" formControlName="firstName">-->
<!--</div>-->
<!--<div class="form-group" [ngClass]="profileForm.controls.lastName.errors? 'has-error': 'has-success'">-->
<!--<label for="lastName">Last name:</label>-->
<!--<input type="text" class="form-control" id="lastName" formControlName="lastName">-->
<!--</div>-->
<!--<div class="form-group" [ngClass]="profileForm.controls.email.errors? 'has-error': 'has-success'">-->
<!--<label for="email">Email:</label>-->
<!--<input type="email" class="form-control" id="email" formControlName="email">-->
<!--</div>-->
<!--<div class="form-group" [ngClass]="profileForm.controls.phone.errors? 'has-error': 'has-success'">-->
<!--<label for="phone">Phone:</label>-->
<!--<input type="text" class="form-control" id="phone" formControlName="phone">-->
<!--</div>-->
<!--<div class="form-group" [ngClass]="profileForm.controls.currency.errors? 'has-error': 'has-success'">-->
<!--<label for="country">Currency</label>-->
<!--<select class="form-control" id="country" formControlName="currency">-->
<!--<option *ngFor="let pC of profileCurrency;"-->
<!--[selected]="compareCurrency(pC[1])"-->
<!--[value] = "pC[1]">{{pC[0]}}-->
<!--</option>-->
<!--</select>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-success"-->
<!--[disabled]="!profileForm.valid"-->
<!--(click)="update()">Update-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
