$font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-blue: #457aff;
$color-green: #00dd13;

$top-bar-height: 54px;
