@import "../../_variables.scss";

.not-found {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .message {
    text-align: center;
    color: black;
    h1, h2 {
      font-family: $font-helvetica;
      letter-spacing: 1px;
    }
  }
}

.container {
  overflow-y: hidden;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}




