.img-home {
  height: 200px !important;
}
p {
  overflow: hidden;
  height: 40px !important;
}

.home-item {
  padding: 3px;
  text-align: center;
  size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
