<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row most-popular">
        <div class="col-sm-8">
          <div *ngIf="!movieData" class="loading">
            <img class="spin" src="/assets/grid.svg" alt="Loading">
          </div>
          <a *ngIf="movieData" [routerLink]="['/category', movieData.type, movieData.id]">
          <div class="block-data movie-block left-transform" *ngIf="movieData" [style.background-image]="'url(' + movieData.cover + ')'">
            <div class="all-from-category">
              <span class="popular">
                <span class="glyphicon glyphicon-facetime-video"></span>
                Most popular movie
              </span>
              <a class="show-all" [routerLink]="'/category/movies'">Show all</a>
            </div>
            <div class="footer">
              <div class="name">
                <a [routerLink]="['/category', movieData.type, movieData.id]">{{movieData.name}}</a>
                <!--<button>Trailer</button>-->
              </div>
              <div class="info">
                <div class="ratio">
                  <app-ratio [product]="movieData"></app-ratio>
                  <p class="description">Based on {{movieData.voteCount | myAround}} rates</p>
                </div>
                <div class="play-time">
                  <p class="bold">176 min</p>
                  <p class="description">Playtime</p>
                </div>
                <div class="year">
                  <p class="bold">{{movieData.year}}</p>
                  <p class="description">Year</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="col-sm-4">
          <div *ngIf="!gameData" class="loading">
            <img class="spin" src="/assets/grid.svg" alt="Loading">
          </div>
          <a *ngIf="gameData"  [routerLink]="['/category', gameData.type, gameData.id]">
          <div class="block-data game-block left-transform" *ngIf="gameData" [style.background-image]="'url(' + gameData.cover + ')'">
            <div class="all-from-category">
              <span class="popular">
                <span class="glyphicon glyphicon-cloud"></span>
                Most popular game
              </span>
              <a class="show-all" [routerLink]="'/category/games'">Show all</a>
            </div>
            <div class="footer">
              <div class="name">
                <a [routerLink]="['/category', gameData.type, gameData.id]">{{gameData.name}}</a>
              </div>
              <div class="info">
                <div class="votes">
                  <app-ratio [product]="gameData"></app-ratio>
                  <p class="description">{{gameData.voteCount | myAround}} Votes</p>
                </div>
                <div class="year">
                  <p class="bold">{{gameData.year}}</p>
                  <p class="description">Year</p>
                </div>
              </div>
            </div>
          </div>
          </a>

          <div *ngIf="!bookData" class="loading">
            <img class="spin" src="/assets/grid.svg" alt="Loading">
          </div>
          <a *ngIf="bookData" [routerLink]="['/category', bookData.type, bookData.id]">
          <div class="block-data book-block left-transform" *ngIf="bookData" [style.background-image]="'url(' + bookData.cover + ')'">
            <div class="all-from-category">
              <span class="popular">
                <span class="glyphicon glyphicon-book"></span>
                Most popular book
              </span>
              <a class="show-all" [routerLink]="'/category/books'">Show all</a>
            </div>
            <div class="footer">
              <div class="name">
                <a [routerLink]="['/category', bookData.type, bookData.id]">{{bookData.name}}</a>
                <!--<button>Trailer</button>-->
              </div>
              <div class="info">
                <div class="votes">
                  <p class="bold">{{bookData.voteCount | myAround}}</p>
                  <p class="description">Votes</p>
                </div>
                <div class="read-count">
                  <p class="bold">{{bookData.readCount | myAround}}</p>
                  <p class="description">Read</p>
                </div>
                <div class="year">
                  <p class="bold">{{bookData.year}}</p>
                  <p class="description">Year</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h1 class="heading">
        <span class="welcome">Welcome</span> to <span class="demo">DEMO</span> project <br> from <span
        class="bmt">BMT</span> team!
      </h1>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="row">-->
<!--<h1>The most popular!</h1>-->
<!--<h2 class="home_h2">Game</h2>-->
<!--<div *ngIf = "!!gameData" class="col-md-12">-->
<!--<div class="col-md-3 col-sm-6 col-xs-12" *ngFor='let game of gameData'>-->
<!--<div class="home-item thumbnail">-->
<!--<img [src]=[game.cover] class="img-home">-->
<!--<p>{{game.name}}</p>-->
<!--<p>price {{productCurrency}}{{game.price | currency:productCurrency}}</p>-->
<!--<button class="btn btn-success md-btn" (click)='addToCart(game)'>Add to cart</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div *ngIf="!gameData" class="loading">-->
<!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading..-->
<!--</div>-->
<!--<h2 class="home_h2">Books</h2>-->
<!--<div *ngIf="!!bookData" class="col-md-12">-->
<!--<div class="col-md-3" *ngFor='let book of bookData'>-->
<!--<div class="home-item thumbnail">-->
<!--<img [src]=[book.cover] class="img-home">-->
<!--<p>{{book.name}}</p>-->
<!--<p>price {{productCurrency}}{{book.price | currency:productCurrency}}</p>-->
<!--<button class="btn btn-success md-btn" (click)='addToCart(book)'>Add to cart</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div *ngIf="!bookData" class="loading">-->
<!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading..-->
<!--</div>-->
<!--<h2 class="home_h2">Movie</h2>-->
<!--<div *ngIf="!!movieData" class="col-md-12">-->
<!--<div class="col-md-3" *ngFor='let movie of movieData'>-->
<!--<div class="home-item thumbnail">-->
<!--<img [src]=[movie.cover] class="img-home">-->
<!--<p>{{movie.name}}</p>-->
<!--<p>price {{productCurrency}}{{movie.price | currency:productCurrency}}</p>-->
<!--<button class="btn btn-success md-btn" (click)='addToCart(movie)'>Add to cart</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div *ngIf="!movieData" class="loading">-->
<!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading..-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
