@import "../../variables";

$container-margin: 15px;
$container-top-shift: $top-bar-height + $container-margin;

.container {
  width: 100%;
  margin-top: $container-margin;
}

.heading {
  line-height: 2em;
  text-align: center;
  .welcome {
    font-weight: bold;
  }
  .demo {
    color: $color-green;
  }
  .bmt {
    color: $color-blue;
  }
}

.block-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  padding: 15px 20px;
  position: relative;
}

.all-from-category {
  display: flex;
  align-items: center;
}

.popular {
  font-family: $font-roboto;
  padding: 8px 5px;
  background: #1e1e1e;
  color: #e6e6e6;
  .glyphicon {
    font-size: 18px;
    margin-right: 5px;
    top: 4px;
    margin-top: -3px;
    color: #aaa;
  }
}

.show-all {
  display: inline-block;
  line-height: 36px;
  background: #457aff;
  text-decoration: none;
  padding: 0 8px;
  color: #e6e6e6;
  transition: all .15s linear;
  cursor: pointer;
  &:hover {
    background: #1f4bba;
  }
}

.most-popular {
  > div:first-child {
    padding-right: 2.5px;
  }
  > div:last-child {
    padding-left: 2.5px;
  }
}

.movie-block {
  width: 100%;
  height: calc(100vh - #{$container-top-shift});
}

.game-block, .book-block {
  height: calc((100vh - #{$container-top-shift}) / 2 - 2.5px);
  margin-top: 5px;
  .footer {
    .name {
      font-size: 24px;
    }
  }
}

.game-block .footer .info .votes p {
  text-align: left;
}

.footer {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 10px;
  .info {
    display: flex;
    align-items: flex-end;
    > div {
      margin-right: 30px;
    }
    .votes, .read-count, .year, .play-time {
      p {
        text-align: center;
      }
    }
  }
  .name {
    font: 500 40px $font-helvetica;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
  }
  .description {
    font: 200 16px $font-roboto;
    color: white;
  }
  .bold {
    color: white;
    font: 600 16px $font-helvetica;
  }
}

