.thumb-image {
  height: 200px !important;
}
p {
  overflow: hidden;
  height: 40px !important;
}
.product-name {
  overflow: hidden;
  height: 50px !important;
}
.ratings {
  padding: 10px;
}
.search-label {
 position: absolute;
  top: 0;
  left: 0;
}
.thumbnail {
  position: relative;
}
