.thumb-image {
  height: 200px !important;

  @media (max-width: 768px) {
    height: auto !important;
    max-height: 200px;
  }
}

p {
  overflow: hidden;
  height: 40px !important;
}
.product-name {
  overflow: hidden;
  height: 50px !important;
}
.ratings {
  padding: 10px;
}
.search-label {
 position: absolute;
  top: 5px;
  left: 20px;
}
.thumbnail {
  position: relative;
}
