<div class="thumbnail" *ngIf="product">
  <img class ="thumb-image" [src]=[product.cover] alt="">
  <div class="caption">
    <h4 class = "product-name"><a [routerLink]="['/category',product.type,product.id]">{{product.name}}</a></h4>

    <p>{{product.description}}</p>
  </div>
  <div class="ratings">
    <h4 class="pull-right">{{productCurrency}}{{product.price | currency:productCurrency}}</h4>
    <button class="btn btn-success md-btn" (click)='addToCart(product)'>Cart</button>
  </div>
</div>
