.modal-body {
  .form-group {
    position: relative;
    label {
      position: absolute;
      top: 10px;
      left: 10px;
      letter-spacing: 1px;
      color: rgba(153, 153, 153, 0.9);
      font-weight: 100;
      transition: all .1s linear;
      background-color: white;
    }
    .form-control {
      padding: 20px 10px;
      border-radius: 1px;
      &:focus + label {
        top: -10px;
      }
    }
    .has-error {
      .form-control {

      }
    }
    .has-success {
      .form-control {

      }
    }
  }
}
